@model PostVM


    <title>Category Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

    <form method="post">
        <div class="container my-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2>Category Table</h2>
              @if(User.IsInRole("Admin")){
                <a class="btn btn-primary" asp-controller="Post" asp-action="CreateUpdate">Create New Product</a>
              }
            </div>
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>Author</th>                       
                        <th>Date</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                       
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Posts)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@ToTrimDesc(item.Content, 50)...</td>
                            <td>@item.Author</td>
                            <td>@item.PublishedDate</td>
                            <td>@item.Category?.Name</td>
                           <td>
                                @if (!string.IsNullOrEmpty(item.FeatureImagePath))
                                {
                                    <img src="@item.FeatureImagePath" alt="Feature" class="rounded" style="width:80px; height:60px; object-fit:cover;" />
                                }
                                else
                                {
                                    <span class="text-muted fst-italic">No image</span>
                                }
                           </td>
                          @if(User.IsInRole("Admin")){
                            <td>
                                <div class="d-flex justify-content-start gap-2">
                                    <a class="btn btn-warning btn-sm" asp-controller="Post" asp-action="CreateUpdate" asp-route-id="@item.Id">
                                        <i class="bi bi-pencil-square">Edit</i>
                                    </a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id">
                                        <i class="bi bi-trash">Delete</i>
                                    </a>
                                </div>
                            </td>
                          }
                         </tr>
                    }

                </tbody>
            </table>
        </div>
    </form>
<nav aria-label="Page navigation" class="fixed-bottom bg-light p-3 shadow">
          <ul class="pagination justify-content-center mb-0">
        <!-- Previous button -->
        <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link"
               asp-action="Index"
               asp-route-PageNumber="@(Model.CurrentPage - 1)">
                Previous
            </a>
        </li>
         
   @* page numbers *@
   @for(int i=1; i<= Model.TotalPages;i++){
    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
        <a class="page-link"
           asp-action="Index"
           asp-route-PageNumber="@i">
            @i
        </a>
    </li>
   }
<li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
    <a class="page-link"
       asp-action="Index"
       asp-route-PageNumber="@(Model.CurrentPage + 1)">
        Next
    </a>
</li>
</ul>
</nav>
@functions {
    public string ToTrimDesc(string text, int limit)
    {
        // if (string.IsNullOrEmpty(text)) return text;
        return text.Length > limit ? text.Substring(0, limit) + "..." : text;
    }
} 